.card {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 210px;
  color: #111;
  font-family: Inter, Helvetica, Arial, sans-serif;
  display: inline-block;
}

.card__image {
  max-width: 600px;
  max-height: 210px;
}

.details {
  margin: 0.8rem;
}

.card__name {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 1rem;
}

.card__desc {
  font-size: 0.9rem;
}
